<%= form_for(producto) do |f| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :caracteristicas %>
    <%= f.text_area :caracteristicas %>
  </div>

  <div class="field">
    <%= f.label :especificaciones %>
    <%= f.text_area :especificaciones %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :es_servicio %>
    <%= f.check_box :es_servicio %>
  </div>

  <div class="field">
    <%= f.label :es_propio %>
    <%= f.check_box :es_propio %>
  </div>

  <div class="field">
    <%= f.label :nombre_empresa %>
    <%= f.text_field :nombre_empresa %>
  </div>

  <div class="field">
    <%= f.label :sitio_empresa %>
    <%= f.text_field :sitio_empresa %>
  </div>

  <div class="field">
    <%= f.label :url_prod_empresa %>
    <%= f.text_field :url_prod_empresa %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
