 <div class="container special">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-primary">Productos y Servicios</h2>
    </div>
    <div class="col-sm-6">
      <div class="panel text-right">
        <%= form_tag "/search/create", method: 'get', remote: true, class: 'navbar-form', role: 'search' do %>
          <div class="input-group-sm"><br>
            <%= text_field_tag :keyword, nil, size: 30, placeholder: "Busca un producto...", class: "form-control"%>
            <span class="input-group-addon-sm"><i class="glyphicon glyphicon-search"></i></span>
          </div>
        <% end %>
      </div>
    </div>

    <br>
    <div id="resultados"></div>

    <br><br><br>

    <div class="panel panel-primary">
      <div class="panel-heading">
      <center>
        <h3 style="color:#fff;"><i>Seleccione una categor&iacute;a:</i></h3>
        <br>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-th"></span> Productos 
        </a>
      <span style="padding-left:30px;">&nbsp;</span>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-th-list"></span> Servicios 
        </a>
      </center>
      </div>
    </div>
    <br><br>

    <div class="container special" style="width: 90%; height: 90%;">

<!-- Example row of columns -->
      <div class="row">
        <% @productos.each do |producto| %>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <table class="own_table">
            <tr align="center">
              <td style="width: 60%; height: 30%;"><br>
                <%= image_tag producto.producto_adjuntos.first.avatar_url , class: 'img_thumb_small' %>
              </td>
            </tr>
            <tr align="center">
              <td style="width: 60%; height: 20%;"><br>
                <h5 class="text-primary"><b><%= producto.nombre.truncate(30) %></b></h5>
              </td>
            </tr>
            <tr>
              <td style="width: 50%; height: 40%; text-decoration: italic; padding-left:10px; padding-right:5px;"><br>
                <p class="text-justify text-muted"><i><%= producto.descripcion.truncate(65) %><br></i></p>
              </td>
            </tr>
            <tr>
              <td style="width: 60%; height: 10%; text-align: center; padding-bottom: 8px;">
              <i><%= link_to 'Detalle', producto , :class => "btn btn-primary" %></i>
                <% if !current_user.nil? %> 
                  <% if current_user.user_role? %>
                    
                    <%= link_to 'Editar', edit_producto_path(producto) , :class => "btn btn-success" %>
                    <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
                  <% end %>
                <% end %>
                
              </td>
            </tr>
          </table>
          <br><br>
        </div>
        <%end%>
      </div>
    </div>

<% if !current_user.nil? %> 
  <% if current_user.user_role? %>
    <%= link_to 'New Producto', new_producto_path %>
  <% end %>
<% end %> 

  </div>
</div>