<p id="notice"><%= notice %></p>

  <% @aboutus.each do |aboutu| %>

    <!-- Main jumbotron -->
    <div class="container-full-bg">
      <div class="container special">
        <div class="jumbotron">
          <h1><ins>BIENVENIDO</ins></h1>
          <br>
          <p class="text-justify"><%= aboutu.descripcion %></p>
        </div>

        <div class="container special">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <%=image_tag aboutu.urlmision, class: 'img' %>
          <h2>Misi&oacute;n</h2>
          <p class="text-justify"><%= aboutu.mision %></p>
        </div>
        <div class="col-md-4">
          <%=image_tag aboutu.urlvision, class: 'img' %>
          <h2>Visi&oacute;n</h2>
          <p class="text-justify"><%= aboutu.vision %></p>
        </div>
        <div class="col-md-4">
          <%=image_tag aboutu.urlnosotros, class: 'img' %>
          <h2> Cont&aacute;ctenos </h2>
          <p><span class="glyphicon glyphicon-envelope"></span>
            &nbsp;<%= aboutu.contactenos %> </p>
          <p><span class="glyphicon glyphicon-map-marker"></span> 
            Carrera 5 # 60 - 147
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Cali, Valle 
            <br>&nbsp;&nbsp;&nbsp;&nbsp;760004 
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Colombia
          </p>
          <p><span class="glyphicon glyphicon-phone-alt"></span>
            &nbsp;+57 3737391</p>
        </div>
      </div>
      </div>
    </div>

    

            <%= link_to 'Show', aboutu %>
            <%= link_to 'Edit', aboutu %>
            
      <hr>  

    <% end %>
