<p id="notice"><%= notice %></p>

  <% @aboutus.each do |aboutu| %>

    <!-- Main jumbotron -->
    <div class="container-full-bg">
      <div class="container special">
        <div class="jumbotron">
          <center>
            <h1 style="color:#fff;">¡Bienvenido!</h1>
            <h2><i>Servicios con calidad</i></h2>
            <br>
            <p class="text-justify"><%= aboutu.descripcion %></p>
          </center>
        </div>

        <div>
          <h3 class="text-center text-primary"><br><br>
            Integral GM Sas es la empresa perfecta para su pr&oacute;ximo negocio!
          <br><br><br></h3>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
          <h2 class="text-center">Nuestra oferta</h2>
          </div>
          <div class="panel-body"><br>
            <div class="row text-center">
              <div class="col-sm-4 text-center">
                <center>
                  <div class="img_integral"><br>
                    <%= link_to productos_path do %>
                      <i class="glyphicon glyphicon-briefcase" style="font-size: 40px;"></i>
                    <% end %><br>&nbsp;
                  </div>
                </center>
                <h3 class="text-primary">Productos</h3><br>
                <p class="text-muted">Conozca nuestro portafolio de productos Conozca nuestro portafolio de productosConozca nuestro portafolio de productos</p><br>
              </div>

              <div class="col-sm-4 text-center">
                <center>
                  <div class="img_integral"><br>
                    <%= link_to productos_path do %>
                      <i class="glyphicon glyphicon-wrench" style="font-size: 40px;"></i>
                    <% end %><br>&nbsp;
                  </div>
                </center>
                <h3 class="text-primary">Servicios</h3><br>
                <p class="text-muted">Conozca nuestro portafolio de servicios Conozca nuestro portafolio de serviciosConozca nuestro portafolio de servicios</p><br>
              </div>

              <div class="col-sm-4 text-center">
                <center>
                  <div class="img_integral"><br>
                    <a href="aboutus/1">
                        <i class="glyphicon glyphicon-tower" style="font-size: 40px;"></i>
                    </a><br>&nbsp;
                  </div>
                </center>
                <h3 class="text-primary">Nosotros</h3><br>
                <p class="text-muted">Conozca nuestra empresa, nuestras metas, mision y vision de Integral GM nuestra ubicacionIntegral GM nuestra ubicacion</p><br>
              </div>
            </div>
          <br><br>
          </div>
        </div>
        <br>
      </div>
    </div>

    <% if !current_user.nil? %> 
      <% if current_user.user_role? %>
        <%= link_to 'Show', aboutu %>
      <% end %>
    <% end %>

  <% end %>
