<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aboutu.nombre %>
</p>

<p>
  <strong>Mision:</strong>
  <%= @aboutu.mision %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @aboutu.vision %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @aboutu.descripcion %>
</p>

<p>
  <strong>Contactenos:</strong>
  <%= @aboutu.contactenos %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @aboutu.copyright %>
</p>

<p>

  <strong>Urlnosotros:</strong>
  <%=image_tag @aboutu.urlnosotros, class: 'img'  %>
</p>

<p>
  <strong>Urlmision:</strong>
  <%=image_tag @aboutu.urlmision , class: 'img'  %>
</p>

<p>
  <strong>Urlvision:</strong>
  <%=image_tag @aboutu.urlvision , class: 'img'  %>
</p>

<%= link_to 'Edit', edit_aboutu_path(@aboutu) %> |
<%= link_to 'Back', aboutus_path %>
