<!DOCTYPE html>
<html>
  <head>
    <title>Integralgm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="/">
            <img src="../../logo.png" class="img-rounded" alt="Integral GM" width="124" height="48">
          </a>&nbsp;
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>">
              <%= link_to 'Inicio', root_path %></li>

            <li class="<%= 'active' if current_page?(productos_path) %>">
              <%= link_to 'Productos y Servicios', productos_path %></li>

            <li class="<%= 'active' if current_page?(root_path) %>">
              <%= link_to 'Contáctenos', root_path %></li>

            <li class="<%= 'active' if current_page?(aboutus_path) %>">
              <% @nosotros = aboutus_path + '/1' %>
              <%= link_to 'Nosotros', @nosotros %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>
    <!-- MAIN CONTENT-->
  	<div id="main-container" class="container">
      <div class="row">
        <div id="main-content" class="panel panel-info" style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <br><br>
    <footer class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017 &middot; Integral GM &middot; SAS </p>
    </footer>
  </body>
</html>
