<!DOCTYPE html>
<html>
  <head>
    <title>Integralgm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="#">
          <img src="../../logo.png" class="img-rounded" alt="Logo Integral GM" width="124" height="48">
          </a>&nbsp;
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><%= link_to "Productos", 'productos' %></li>
            <li><%= link_to "Nosotros",  'aboutus' %></li>
          </ul>
          <ul>
            <li>
              <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>
    <!-- MAIN CONTENT-->
  	<div id="main-container" class="container">
      <div class="row">
        <div id="main-content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <br><br>
    <footer class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017 Integral GM, SaS. &middot; otro &middot; nada </p>
    </footer>
  </body>
</html>
